{% extends "sforum/base.html" %}
{% load static %}

{% block content %}
<main class="main">
	<div class="container">

<div class="container5">
<form class="form-container" action="{% url 'custom_password_reset_confirm' uidb64=uidb64 token=token %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    <h2 class="form-title">СМЕНА ПАРОЛЯ</h2>
    {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            <div>{{ f }}</div>
            <div>{{ f.errors }}</div>
        </div>
    {% endfor %}
    <button class="form-button" type="submit">Сменить пароль</button>
</form>
  </div>
    </div>
</main>

{% endblock %}
