
{% extends "sforum/base.html" %}
{% load sforum_tags %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<main class="main">
		<section class = "big-banner">



			<div class="container">
				{% if request.user|has_group:"Админ" and request.user.is_staff %}
				<div class="container3" style="padding:0 0 10px 0;">
					<a href="/swdjadmin/sforum" class="view-all-button" style="display:block; width: 100%;">В АДМИНКУ</a>
				</div>
				{% endif %}
				<div class="main__container">
					<div class="promo__block">

						<div class="big-banner__block">
							{% for video_banner in banners_video %}



								<video playsinline autoplay muted loop src="{{ video_banner.video.url }}" alt="" class="big-banner__pic"></video>
							{% endfor %}
								<div class="blurred"></div>

									<div class="video-text">
										SFERA.MSK
									</div>
									<div class="video-icons">
										<ul class="icons-list">
											<li class="icons__item purple_bc"><a href="https://instagram.com/sfera_msk?igshid=MmIzYWVlNDQ5Yg==" class="icons__link white_c">INST</a></li>
											<li class="icons__item purple_bc"><a href="https://www.youtube.com/@sfera_msk" class="icons__link white_c">YT</a></li>
											<li class="icons__item purple_bc"><a href="https://m.vk.com/club222120976" class="icons__link white_c">VK</a></li>
											<li class="icons__item purple_bc"><a href="https://t.me/vsferev" class="icons__link white_c">TG</a></li>
										</ul>
									</div>
					</div>
				</div>
			</div>
		</section>
		<section class="soc_banner">
			<div class="container">
				<div class="main__container">
					<div class="small-banner__block">
						{% if partners_link.exists %}
                       {% for link in partners_link %}
<a href="{{ link.body_link }}" target="_blank" class="telegram-button">
    <span>GO TO {{ link.title }}</span>




</a>
{% endfor %}

						{% else %}
						<a href="https://t.me/vsferev" target="_blank" class="telegram-button">
        <span>Подписывайся на наш Telegram</span>
    </a>
						{% endif %}

					</div>
				</div>
			</div>

		</section>
		<section class = "small-banner">
			<div class="container">
				<div class="main__container">
					 {% if banners_photo.exists %}
						<div class="slider_container">
        <div class="slides">
            {% for photo_banner in banners_photo %}
            <div class="slide" style="background-image: url('{{ photo_banner.img.url }}');"></div>
            {% endfor %}
        </div>
        <button class="slide_button prev_button">&#10094;</button>
        <button class="slide_button next_button">&#10095;</button>
    </div>
					{% endif %}

<script>
    let currentSlide = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;
        const slideContainer = document.querySelector('.slides');
        const prevButton = document.querySelector('.prev_button');
        const nextButton = document.querySelector('.next_button');

        function showSlide(index) {
            slideContainer.style.transform = `translateX(-${index * 100}%)`;
        }

        function changeSlide(direction) {
            currentSlide = (currentSlide + direction + totalSlides) % totalSlides;
            showSlide(currentSlide);
        }

        prevButton.addEventListener('click', () => changeSlide(-1));
        nextButton.addEventListener('click', () => changeSlide(1));

        setInterval(() => {
            changeSlide(1);
        }, 7000);
</script>

			</div>
		</section>



		<section class="events">
			<div class="container">
				<div class="main__container" style="
				background: url('{% static 'sforum/images/img/' %}');">
					<h1 class="sp-title" style="font-size:36px;">EVENTS IN MSK</h1>

    <div class="button-container">
        <a href="{% url 'show_reviews_for_life' %}">FOR LIFE</a>
        <div class="divider"></div>
        <a href="{% url 'show_reviews_fire_fun' %}">FIRE FUN</a>
    </div>
					 <div class="slider-container">
    <div class="slider-wrapper">
		{% for event in events %}
      <div class="card1">
        <a class="new__photo-link" href="{{ event.get_absolute_url }}"><img src="{{ event.photo.url }}" alt="Изображение 1"></a>
		  <a class="new__photo-link" href="{{ event.get_absolute_url }}"><h2>{{ event.title }}</h2></a>
           <div class="card1_container">
<!--		  <p>{{ event.content }}</p>-->
          <div class="city-buttons">

			  <button onclick="shareContent('{{ event.get_absolute_url }}')">
                        Поделиться

			  </button>
          </div>
			</div>
      </div>
		{% endfor %}
    </div>

    <button class="slider-button slider-button-prev">&#10094;</button>
    <button class="slider-button slider-button-next">&#10095;</button>
  </div>
		</section>
		<section class="map1">
			<div class="container">
				<div class="main__container">
					<h1 class="sp-title">НА КАРТЕ</h1>
					<div class="map__container">
<!--						<div class="map__search">-->
<!--							<form class="search_form" id = "search_form" method="POST" action="{% url 'search-venues' %}">-->
<!--								{% csrf_token %}-->
<!--								<input class="map__search-input" type="search" placeholder="Поиск заведений" name="searched">-->

<!--							</form>-->
<!--							<button  class="map__search-icon" type="submit" form="search_form">НАЙТИ</button>-->

<!--						</div>-->
						<div class="search-bar">
							<form class="search_form" id = "search_form" method="POST" action="{% url 'search-venues' %}">
								{% csrf_token %}
								<input type="text"  type="search" placeholder="Поиск заведений" name="searched">
							</form>
							<button  type="submit" form="search_form">Найти</button>
						</div>
						<div class="map__block">
							<div class="map" id="map"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class = "places">
				<div class="container">
					<div class="main__container">
						<h1 class="sp-title">МЕСТА</h1>

    <div class="container2">
        <div class="venues2">
			{% for n in posts %}
            <div class="venue2">
				<a href="{{ n.get_absolute_url }}" ><img src="{{ n.photo.url }}" alt=""></a>
                <div class="venue-content">
					<a class="new__photo-link" href="{{ n.get_absolute_url }}"><div class="venue-title">{{ n.title }}</div></a>
                    <div class="venue-location">м.&nbsp;{{ n.metro }}</div>
                    <div class="venue-type">{{ n.cat }}</div>
                </div>
            </div>
			{% endfor %}

        </div></div>
						 <div class="container3">
    <a href="/show_venues" class="view-all-button" >Посмотреть все</a>
  </div>




	</div>
		</section>
		<section class="news">
			<div class="container">
				<div class="main__container">
					<h1 class="sp-title">ПОСТЫ</h1>


<div class="card-wrapper">
    <div class="card-grid">
        {% for n in news %}
		{% if not n.company_name|has_group:"Пользователь" %}
        <div class="card">
            <a href="{{ n.get_absolute_url }}"><img src="{{ n.photo.url }}" alt=""></a>
            <div class="card-content">
                <a href="{{ n.get_absolute_url }}" class="new__photo-link">
                    <div class="card-title">{{ n.title }}</div>
                </a>
                {% if n.company_name.profile.id %}
                <a href="{% url 'profile' n.company_name.profile.id %}">

                    <div class="card-author">Автор: {{ n.company_name.username }}</div>

                </a>
                {% endif %}
                <div class="card-text">{{ n.content|truncatechars:40 }}</div>
				<div class="card-footer">


                <!-- Иконки лайков и комментариев -->
                <div class="card-icons">
					<form action="{% url 'like_post' n.slug %}" method="POST">
                  {% csrf_token %}

                  {% if user.is_authenticated %}
                    {% if liked %}
					<div class="card-icons-block" style = "" ><span class="card-icons-span" style="">{{ n.total_likes }}</span>
						<button type="submit" name="post_id" value="{{ n.id }}" style="background: transparent; border: none; cursor: pointer;"><a href="#"><i class="fas fa-thumbs-up"></i></a></button>
					</div>
					{% else %}
					<div class="card-icons-block" style = "" ><span class="card-icons-span" style="">{{ n.total_likes }}</span>
                    <button type="submit" name="post_id" value="{{ n.id }}" style="background: transparent; border: none; cursor: pointer;"><a href="#"><i class="fas fa-thumbs-up"></i></a></button></div>
					{% endif %}
				  {% else %}
					<div class="card-icons-block" style = "" ><span class="card-icons-span" style="">{{ n.total_likes }}</span>
                    <a href="{% url 'login' %}"><i class="fas fa-thumbs-up"></i></a></div>
				  {% endif %}
					</form>
				  {% if user.is_authenticated %}
					<div class="card-icons-block"><span class="card-icons-span" >{{ n.news_comments.total_comments }}</span>
                    <a href="/add_news_comment/{{ n.pk }}"><i class="fas fa-comment-dots"></i></a></div>
				  {% else %}
					<div class="card-icons-block"><span class="card-icons-span" >{{ n.news_comments.total_comments }}</span>
                    <a href="{% url 'login' %}"><i class="fas fa-comment-dots"></i></a></div>
				  {% endif %}


                </div>

                <!-- Блок с кнопкой "Поделиться" -->
                <div class="card-share">
                    <div class="share-button" onclick="shareContent('{{ n.get_absolute_url }}')">
                        <span>Поделиться</span>
                    </div>
                </div>
            </div>
            </div>

            <!-- Контейнер для иконок и кнопки "Поделиться" -->

        </div>
		{% if n.news_comments.exists %}
		<div class="comments">

						<a href="{{ n.get_absolute_url }}" class = "comments-title"> Читать все про <span style="color:;">{{ n.title }}</span></a>
						{% for comment in n.news_comments.all|slice:":4" %}
							<div class="comment">

								{% if comment.comment_author.profile.profile_pic %}
								{% if comment.comment_author.profile.profile_options == "FOR_LIFE" %}
							 	<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" style = "border: 3px solid #c2fe51;" alt="" ></a>
                                {% elif comment.comment_author.profile.profile_options == "FIRE_FUN" %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" style = "border: 3px solid #e451fe;" alt="" ></a>
								{% else %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" alt="" ></a>
								{% endif %}
								{% else %}
								{% if comment.comment_author.profile.profile_options == "FOR_LIFE" %}
                                <a href = "{% url 'profile' comment.comment_author.profile.id %}"   class="comment-author"> <img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" style = "border: 3px solid #c2fe51;" alt="" ></a>
                                {% elif comment.comment_author.profile.profile_options == "FIRE_FUN" %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"> <img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" style = "border: 3px solid #e451fe;" alt="" ></a>
								{% else %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"> <img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" alt="" ></a>
								{% endif %}
								{% endif %}
								<div class="comment-content">
									<div class="comment-header">
										<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author">{{ comment.comment_author.username }}</a>
										<time class="comment-time">{{ comment.date_added|date:"d/m/y в H:i" }}</time>
									</div>
									<p class="comment-text">{{ comment.body|truncatechars:40  }}</p>
								</div>
							</div>
						{% endfor %}

					</div>
		{% endif %}
		{% endif %}
        {% endfor %}
    </div>
</div>

<!-- JavaScript для использования Web Share API -->



  <div class="container3">
    <a href="/show_news" class="view-all-button">Посмотреть все</a>
  </div>




			</div>
			</div>
		</section>
		<section class = "activities">
				<div class="container">
					<div class="main__container">

					<h1 class="sp-title">ПОСЛЕДНИЕ КОММЕНТАРИИ</h1>
					<div class="comments">
						{% for comment in news_comments %}
						<div class="comment">

								{% if comment.comment_author.profile.profile_pic %}
								{% if comment.comment_author.profile.profile_options == "FOR_LIFE" %}
							 	<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" style = "border: 3px solid #c2fe51;" alt="" ></a>
                                {% elif comment.comment_author.profile.profile_options == "FIRE_FUN" %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" style = "border: 3px solid #e451fe;" alt="" ></a>
								{% else %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" alt="" ></a>
								{% endif %}
								{% else %}
								{% if comment.comment_author.profile.profile_options == "FOR_LIFE" %}
                                {% elif comment.comment_author.profile.profile_options == "FIRE_FUN" %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}"  class="comment-author"> <img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" style = "border: 3px solid #e451fe;" alt="" ></a>
								{% else %}
								<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"> <img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" alt="" ></a>
								{% endif %}
								{% endif %}
								<div class="comment-content">
									<div class="comment-header">
										<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author">{{ comment.comment_author.username }}</a>
										<time class="comment-time">{{ comment.date_added|date:"d/m/y в H:i" }}</time>
									</div>
									<p class="comment-text">{{ comment.body|truncatechars:40  }}</p>
								</div>
							</div>
<!--							<div class="comment">-->
<!--								{% if comment.comment_author.profile.profile_pic %}-->
<!--						 <a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"><img class="comment-avatar" src="{{ comment.comment_author.profile.profile_pic.url }}" alt="" ></a>-->
<!--                                {% else %}-->
<!--                                <a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author"><img class="comment-avatar" src="{% static 'sforum/images/img/img_28.png' %}" alt="" ></a>-->
<!--                                {% endif %}-->
<!--								<div class="comment-content1">-->
<!--									<div class="comment-header">-->
<!--										<a href = "{% url 'profile' comment.comment_author.profile.id %}" class="comment-author">{{ comment.comment_author.username }}</a>-->
<!--										<time class="comment-time">{{ comment.date_added|date:"d/m/y в H:i" }}</time>-->
<!--									</div>-->
<!--									<p class="comment-text1">{{ comment.body }}</p>-->
<!--								</div>-->
<!--							</div>-->
						{% endfor %}
					</div>

					</div>
					</div>
					</div>
		</section>
</main>
<script src="{% static 'sforum/js/script3.js' %}" type=""></script>
<script src="{% static 'sforum/js/script4.js' %}" type=""></script>
<script src="{% static 'sforum/js/script6.js' %}" type=""></script>




{% endblock %}
