{% extends "sforum/base.html" %}
{% load static %}

{% block content %}
<main class="main">
	<div class="container">
        <div class="form__base_container">
            <form class="form__base"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>{{ form.non_field_errors }}</div>
                <h2 class="form__title">ВОЙТИ</h2>
                {% for f in form %}
                <div class="base_label">
                    <label class="form__label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    <div class="form__input">{{ f }}</div>
                    <div>{{ f.errors }}</div>
                </div>
                {% endfor %}
                <button class="form__button" type="submit"><span class="form__button-link">Войти</span></button>
                <div class="have_account"><a class="purple_c del-link" href="{% url 'password_reset' %}">Забыли пароль?</a></div>
                <div class="have_account">Нет аккаунта? <a class="purple_c del-link" href="{% url 'user_registration' %}">Зарегистрироваться!</a></div>
            </form>
        </div>
    </div>
</main>

{% endblock %}

