{% extends "sforum/base.html" %}
{% load static %}

{% block content %}
<main class="main">
	<div class="container">

<div class="container5">
  <form class="form-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    <h2 class="form-title">ВОЙТИ</h2>
    {% for f in form %}
      <div class="form-group">
        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
        <div>{{ f }}</div>
        <div>{{ f.errors }}</div>
      </div>
    {% endfor %}
    <button class="form-button" type="submit">Войти</button>
    <div class="form-footer">
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
      <br>
      <a href="{% url 'user_registration' %}">Нет аккаунта? Зарегистрироваться!</a>
    </div>
  </form>
</div>

    </div>
</main>

{% endblock %}

