{% extends "sforum/base.html" %}
{% load static %}
{% load sforum_tags %}


{% block content %}

<main class="main">
    <div class="container">
        <div class="profile__base_container">
            <div class="profile__base-block">
                <div class="profile__info-block">
                    {% if user.profile.id == page_user.id %}
						<h3 class="page__venues-title"><a href="{% url 'home' %}" class="page__venues_link">ПРОФИЛЬ {{ page_user.user.username }}</a></h3>
                    {% else %}
                    <h3 class="profile__username">ПРОФИЛЬ {{ page_user.user.username }}</h3>

                    {% endif %}

                </div>
                <div class="profile__data-block">
                    <div class="profile__image-block">
                        {% if page_user.profile_pic %}
                        <img src="{{ page_user.profile_pic.url }}" alt="" class="profile__pic">
                        {% else %}
                        <img src="{% static 'sforum/images/img/img_28.png' %}" alt="" class="profile__pic">
                        {% endif %}
                    </div>
                    <div class="about__user">
                        <div class="user_profile-body">
                            <div class="profile__user-name">{{ page_user.user.username }}</div>
                            <div class="profile__user-email">{{ page_user.user.email }}</div>

                        </div>

                    </div>
                </div>
                {% if user.profile.id == page_user.id %}
                <style>
.dropbtn {
  background-color: #1c111c;
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  min-width:100%;
  height:30px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #e451fe;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width:100%;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width:100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">НАСТРОЙКИ</button>
  <div id="myDropdown" class="dropdown-content">
    <a class="action__link white_c" href="{% url 'update_profile' user.profile.id %}">РЕДАКТИРОВАТЬ ПРОФИЛЬ</a>
<!--    <a  class="action__link white_c" href="{% url 'delete_profile' user.profile.id %}">УДАЛИТЬ ПРОФИЛЬ</a>-->
    <a class="action__link white_c" href="{% url 'logout' %}">ВЫЙТИ</a>
  </div>
</div>

<script>
/* Когда пользователь нажимает на кнопку, переключаться раскрывает содержимое */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
// Закрыть раскрывающийся список, если пользователь щелкнет за его пределами.
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>{% endif %}

            {% if request.user|has_group:"Компания" or request.user|has_group:"Админ" %}
            <div class="profile__content-block">

                <div class="page__venues_container">
                    <div class="page__venues-block">
						<h3 class="page__venues-title"><a href="{% url 'home' %}" class="page__venues_link">МОИ НОВОСТИ</a></h3>
					</div>
                    <div class="news__container">
                       {% for n in page_user_news %}

                        <div class="new">
						{% if n.photo %}
						<div class="new__photo"><a href="{{ n.get_absolute_url }}" class="new__photo-link"><img src="{{ n.photo.url }}" alt=""  class="new__photo-pic"></a></div>
						{% endif %}
						<div class="new__info-container">
							<div class="new__title"><a href="{{ n.get_absolute_url }}" class="new__title-link">{{ n.title }}</a></div>
						</div>
						<ul class="action__menu">
							{% if user.id == n.company_name.id %}
							<li class="action__item purple_bc"><a href="{% url 'update_new' n.slug %}" class="action__link white_c">Редактировать</a></li>
							<li class="action__item purple_bc"><a href="{% url 'delete_new' n.slug %}" class="action__link white_c">Удалить</a></li>
							{% endif %}
						</ul>
					</div>
                        {% endfor %}
                    </div>
                </div>



                <div class="page__venues_container">
                    <div class="page__venues-block">
						<h3 class="page__venues-title"><a href="{% url 'home' %}" class="page__venues_link">МОИ ЗАВЕДЕНИЯ</a></h3>
					</div>
                    <div class="news__container">
                        {% for n in page_user_venues %}

                        <div class="new">
						{% if n.photo %}
						<div class="new__photo"><a href="{{ n.get_absolute_url }}" class="new__photo-link"><img src="{{ n.photo.url }}" alt=""  class="new__photo-pic"></a></div>
						{% endif %}
						<div class="new__info-container">
							<div class="new__title"><a href="{{ n.get_absolute_url }}" class="new__title-link">{{ n.title }}</a></div>
							<div class="metro__block">м. {{ n.metro }}</div>
<!--							<div class="address__block">{{ n.address }}</div>-->
							<span class="new__category">{{ n.cat }}</span>


<!--							<div class="new__data">-->
<!--								<a href="" class="new__views"><img src="{% static 'sforum/images/img/views.svg' %}" alt="" class="new__icon-pic"></a><span class="data__quantity">422</span>-->
<!--							</div>-->
						</div>
						<ul class="action__menu">
							{% if user.id == n.company_name.id %}
							<li class="action__item purple_bc"><a href="{% url 'update_post' n.slug %}" class="action__link white_c">Редактировать</a></li>
							<li class="action__item purple_bc"><a href="{% url 'delete_post' n.slug %}" class="action__link white_c">Удалить</a></li>
							{% endif %}
						</ul>
					</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>


</main>
{% endblock %}