{% extends "sforum/base.html" %}
{% load static %}
{% block form2 %}
{% endblock form2 %}
{% block content %}
<main class="main">
	<div class="container">
				       <style>


  .news-image-wrapper {
    align-items:center;
    position: relative;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Размытый фон */
  .news-image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{{ event.photo.url }}');
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: 1;
  }

  /* Картинка, которая будет отображаться поверх */
  .news-image {
    top: 13%;
    position: relative;
    display:block;
    margin:0 auto;
    z-index: 2;
    width: 100%;
    max-width: 600px; /* Ограничиваем максимальный размер */
    height: 300px; /* Максимальная высота */
    object-fit: cover;
    object-position: center;
  }


  /* Адаптивность */
  @media (max-width: 768px) {
    .news-image-wrapper {
      height: auto; /* Оставляем оригинальный размер изображения */
    }
  }


</style>

		<div class="event__block">
			<div class="event__photo">
				<div class="news-image-wrapper">
					<img class="news-image" src="{{ event.photo.url }}" alt="News Image">

				  </div>
<!--				<div class="event__photo-title words">{{ event.title }}</div>-->

			</div>

			<div class="event__content">
				<div class="event__photo-title words">{{ event.title }}</div>
<!--				<div class="event__content-about">ПРО СОБЫТИЕ</div>-->
				<div class="event__content-text words">{{ event.content }}</div>
			</div>

<!--			<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
<!--			<div class="place-map" id="event_map{{ event.pk }}"></div> &lt;!&ndash; Новый контейнер для карты &ndash;&gt;-->
<!--  <script>-->
<!--    ymaps.ready(function () {-->
<!--      var map = new ymaps.Map("event_map{{ event.pk }}", { // Используем map2 вместо map-->
<!--        center: [{{ event.latitude }},  {{ event.longitude }}], // Центр карты (широта, долгота)-->
<!--        zoom: 15 // Уровень масштабирования-->
<!--      });-->

<!--      // Добавление метки-->
<!--      var placemark = new ymaps.Placemark([{{ event.latitude }},  {{ event.longitude }}], {-->
<!--        hintContent: 'Метка',-->
<!--        balloonContent: 'Координаты: {{ event.latitude }},  {{ event.longitude }}'-->
<!--      });-->

<!--      map.geoObjects.add(placemark);-->
<!--    });-->
<!--  </script>-->
		</div>
	</div>
</main>
{% endblock %}